@mixin colorStyles {
  &--neutral {
    background-color: var(--neutral-foreground);
    color: var(--neutral-text);
    border-color: var(--neutral-detail);
  }

  &--cyan {
    background-color: var(--cyan-foreground);
    color: var(--cyan-text);
    border-color: var(--cyan-detail);
  }

  &--green {
    background-color: var(--green-foreground);
    color: var(--green-text);
    border-color: var(--green-detail);
  }

  &--purple {
    background-color: var(--purple-foreground);
    color: var(--purple-text);
    border-color: var(--purple-detail);
  }

  &--yellow {
    background-color: var(--yellow-foreground);
    color: var(--yellow-text);
    border-color: var(--yellow-detail);
  }
}
