$_white: #fff;
$_black: #000;
// TODO: Add more color hexadecimals

@mixin light-theme {
  --background-color: $_white;
  // TODO: Add more colors
}

@mixin dark-theme {
  --background-color: $_black;
  // TODO: Add more colors
}
